In [ ]:
import pandas as _hex_pandas
import datetime as _hex_datetime
import json as _hex_json

In [ ]:
hex_scheduled = _hex_json.loads("false")

In [ ]:
hex_user_email = _hex_json.loads("\"example-user@example.com\"")

In [ ]:
hex_run_context = _hex_json.loads("\"logic\"")

In [ ]:
hex_timezone = _hex_json.loads("\"UTC\"")

In [ ]:
hex_project_id = _hex_json.loads("\"24373d7b-4167-48e2-a2ee-2a91de5fd677\"")

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
col_names = ["airline","airline_num","source_name","source_num","dest_name","dest_num","None","stop_count","equipment"]

In [ ]:
df = pd.read_csv('routes.csv', header=0, names = col_names)

In [ ]:
df.head()

,airline,airline_num,source_name,source_num,dest_name,dest_num,None,stop_count,equipment
0,2B,410,ASF,2966,KZN,2990,NaN,0,CR2
1,2B,410,ASF,2966,MRV,2962,NaN,0,CR2
2,2B,410,CEK,2968,KZN,2990,NaN,0,CR2
3,2B,410,CEK,2968,OVB,4078,NaN,0,CR2
4,2B,410,DME,4029,KZN,2990,NaN,0,CR2

In [ ]:
routes_cleaned = df.drop(["airline","airline_num","source_num","dest_num","None","stop_count","equipment"], axis = 1)
routes_cleaned.head()

,source_name,dest_name
0,ASF,KZN
1,ASF,MRV
2,CEK,KZN
3,CEK,OVB
4,DME,KZN

In [ ]:
routes_cleaned.to_csv('routes_cleaned.csv', index = False, header = False)